.app-list-container {
  font-size: 2.5rem;
  font-weight: 200;
  img {
    width: 48px;
    height: 48px;
    justify-content: end;
  }
}

.app-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  *{
    padding: 0px !important;
    margin: 0px !important;
  }



  .app-list-header-title {
    padding-left: 2rem;
  }
  .app-list-header-icons {
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
}

.app-list-content {
  font-size: 1rem;
  font-weight: 400;
  overflow-y: auto;
  max-height: 45vh;
  * {
    margin: 3px;
    padding: 3px;
  }

  /* Webkit系ブラウザ（Chrome, Safari, Edge）用 */
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 4px;

    &:hover {
      background: #555;
    }
  }
}
